
body {
    font:bold large;
}

header{
    height:200px;
    border:1px solid red;
}

article {
    height: 200px;
    border: 1px solid red;
}

footer {
    height: 200px;
    border: 1px solid red;
}